body{
    font-family:'Montserrat-black';
    text-align: center;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat-bold' sans-serif;
    font-weight: bold;
}
.colored-section{
    background-color: rgb(204, 27, 101);
    color: #fff;
}
/* top section css */
#title{
    padding: 1% 15% 5%;
    text-align: left;
}
.navbar{
    padding: 1% 0;
    font-size: 1.5rem
}
.nav-item{
    padding-right: 5%;
}
.navbar-brand{
    font-size: 3rem;
}
.main-heading{
    font-size: 3.5rem;
    padding-top: 5%;
    padding-bottom: 7%;
   
}
.download-button{
    margin: 1% 3% ;
}
.title-img{
    width: 20%;
    position: absolute;
    transform: rotate(25deg);
    right: 22%;
}

/* secound section css */
#features{  
    padding: 100px;
    position: relative;
    z-index: 1;
    background-color: white;
}
#features i{
    color:   rgb(204, 27, 101);
    padding-bottom: 5%;
}
#features i:hover{
    color: rgb(255, 0, 106);
}
#features p{
    padding: 3% 15%;
    font-family: 'ubuntu';
}
/* testimonials css slider */
#testimonials{
    padding: 20%px;
    padding-top: 3%;
}
#testimonials  img{
   
    width:10%;
    padding-top: 3%;
}
#testimonials h2{
    font-size: 3.rem;
}
#testimonials .carousel-item{
    padding: 3% 15%;

}
#press{
    padding: 0 3%;
}
#press img{
    width:22%;
    padding: 0% 5% 5%;
}
@media (max-width:994px){
    .title-img{
        transform: rotate(0);
        width: 60%;
        position: static;
        padding-top:2%;
    }
    #testimonials .carousel-item{
        padding:15% 5%;
    #title{
        text-align: center;
    }
}
#pricing{
    padding: 9%;
}
/* cta section css  */
#cta{
    padding: 5%;
}
#cta .main-heading{
    padding: 4%;
}
#footer{
    padding: 8%;
}
#footer i{
    padding: 0 2%;
}
#footer i:hover{
    color: blue;
}
#footer p{
    margin-top: 5%;
}
